
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" thread-count="3" >

    <test name="TestSuit1">
        <classes>
            <class name="SearchPageTests"/>
        </classes>
    </test>
    <test name="TestSuit2">
        <classes>
            <class name="CartPageTests"/>
        </classes>
    </test>
    <test name="TestSuit3">
        <classes>
            <class name="RegistrationPageTests"/>
        </classes>
    </test>
</suite>